<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Анализировать датасеты</title>
</head>
<body>
<h1>Анализ датасетов</h1>
<p>Тут типо ебать можно выбирать чо анализировать короче и еще всякие фильтры ставить и еще в какой форме
    это представлть вот да)))))там всякие диаграммы хуиграммы и всё такое да)))</p>
<a class ="p-2 text-dark" href="/">О нас</a>
<a class ="p-2 text-dark" href="/get-started">Назад</a>
<a class ="p-2 text-dark" href="/">На главную</a>
</body>
</html>