{% extends 'GIN/base.html' %}

{% block title %}
Анализ датасетов
{% endblock %}

{% block content %}
    <h1>Анализ датасетов</h1>
    <p>Тут типо ебать можно выбирать чо анализировать короче и еще всякие фильтры ставить и еще в какой форме
        это представлть вот да)))))там всякие диаграммы хуиграммы и всё такое да)))</p>
    <a class ="p-2 text-dark" href="{% url 'about-project' %}">О нас</a>
    <a class ="p-2 text-dark" href="{% url 'begin' %}">Назад</a>
    <a class ="p-2 text-dark" href="{% url 'home' %}">На главную</a>
{% endblock %}
