{% extends 'GIN/base.html' %}

{% block title %}
Приступая к работе
{% endblock %}

{% block content %}
    <h1>Приступая к работе</h1>
    <p>Тут типо ебать ты выбираешь чо делать и нажимаешь на одну из двух кнопок))))</p>
    <p>две типо кнопоки это - добавить датасет и АНАЛизировать датасеты из существующих))))</p>
    <a class ="p-2 text-dark" href="{% url 'add' %}">Добавить свой датасет</a>
    <a class ="p-2 text-dark" href="{% url 'analyze-data' %}">Анализ доступных датасетов</a>
    <a class ="p-2 text-dark" href="{% url 'home' %}">На главную</a>
{% endblock %}
