<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Приступая к работе</title>
</head>
<body>
<h1>Приступая к работе</h1>
<p>Тут типо ебать ты выбираешь чо делать и нажимаешь на одну из двух кнопок))))</p>
<p>две типо кнопоки это - добавить датасет и АНАЛизировать датасеты из существующих))))</p>
<a class ="p-2 text-dark" href="/add-dataset">Добавить свой датасет</a>
<a class ="p-2 text-dark" href="/analyze">Анализ доступных датасетов</a>
<a class ="p-2 text-dark" href="/">На главную</a>
</body>
</html>